@charset "UTF-8";

body {
    background-color: rgba(221, 209, 194, 1);

}

.init {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
   
}

.desc {
    /* background-color: #fff;
    height: 265px;
    width: 426px; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.desc h1 {
    text-transform: uppercase;
}

.desc h2 {
    color: rgba(149, 133, 115, 0.5);
}
ul{
    list-style-type: none;
    text-decoration: none;
}
@media screen and (max-width:1367px) {
	/* .box{
		background-color: green;
		color: rgb(0, 255, 0);
	} */
}

@media screen and (max-width:1024px){
	/* .box{
		background-color: pink;
		color: red;
		text-align: right;
	}  */
	
}
@media screen and (max-width:376px) {
	/* .box{
		text-align: center;
		background-color: blue;
		color: aliceblue;
	} */
}
