@charset "UTF-8";

/* menu */
.menu a:nth-child(2):after {
    content: '';
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0px;
    border-bottom: 4px solid #000;
}

/* 第一頁 首頁 Protfolio */

.content li img {
    display:inline-block;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

/*        RWD模組化             */
@media screen and (max-width:1367px) {
    /* .box{
		background-color: green;
		color: rgb(0, 255, 0);
	} */
}

@media screen and (max-width:1024px) {
    /* .box{
		background-color: pink;
		color: red;
		text-align: right;
	}  */

}

@media screen and (max-width:376px) {
    /* .box{
		text-align: center;
		background-color: blue;
		color: aliceblue;
	} */
}