@charset "UTF-8";
.line-absolute a{
    position: relative;

}
.line-absolute a::after{
    content: '';
    position: absolute;
    right: 50%;
left: 50%;
bottom: -1px;
border-bottom: 4px solid #f00;
transition: .3s;
}
.line-absolute a:hover::after{
    right: 0;
    left: 0;
}